server:
  port: 8001

spring:
  application:
    name: trysprinigcloud-netflix-eureka-clientanr

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    preferIpAddress: false